.span-one-third {
    width:300px;
}

.span-two-thirds {
    width:620px;
}

.media-grid {
    margin-bottom:0;
    margin-left:-20px;
    zoom:1;
}
.content
{
    background-color: #FFFFFF;
    margin-top: -30px;
    box-shadow: 0px 0px 0px black,3px 0px 5px grey,0px 0px 0px black,-3px 0px 5px grey
}