.fill {
    -webkit-box-shadow:rgba(0, 0, 0, 0.246094) 0 1px 3px, rgba(0, 0, 0, 0.0976563) 0 -1px 0 inset;
    background-color:#222222;
    background-image:-webkit-linear-gradient(top, #333333, #222222);
    background-repeat:repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.246094) 0 1px 3px, rgba(0, 0, 0, 0.0976563) 0 -1px 0 inset,3px 3px 20px black;
    height: 58px;
}

.topbar {
    height:40px;
    left:0;
    overflow-x:visible;
    overflow-y:visible;
    position:fixed;
    right:0;
    top:0;
    z-index:10000;
}



#logo
{
    float: left;
}

